*{
	margin: 0;
}
h1 {
	font-family: "Times New Roman";

}
header h1{
	background: yellow;
	text-align:right;
}

body {
	background: #999999;
	margin: 40px;
}

#wrap{
	background-color: #545649;
	margin:0:auto;
	position: relative;
	width: 750px;
}

nav ul{
	background: green;
	padding: 10px;
	list-style: none;
	margin: 0 auto;
	text-align: center;
}
nav li{
	background:black;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	
}

aside {
	position: absolute;
	right: 0px;
	background: white url(http://www.literarygenius.info/images/william-shakespeare.jpg) no-repeat center;
	height: 381px;
	padding: 5px;
	background-size: contain;
	background-position: 50% 60%;
}

nav a{
	color: white;
	text-decoration: none;
}

#content {
	width: 550px;
}

#content ul {
	list-style-type: none;
	text-align: center;
}

footer {
	background: green;
	padding: 15px;
}