@media only screen and (min-width: 650px) {
	.top-nav ul {
		text-align: center;
		margin: 0 auto;
	}
	.top-nav ul li {
		display:inline-block;
		margin: 0 auto;
		background-color: purple;
	}
	.logo {
		display:block;
		width: 8%;
		height: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
	img {
		display:block;
		width: 97%;
		margin-left: auto;
		margin-right: auto;
		padding: 0.75rem;
	}
	img.resp-img-1 {
		display: inline-block;
		width: 45%;
		height: 50%;
		float: left;

	}
	img.resp-img-2 {
		display: inline-block;
		width: 45%;
		height: 50%;
		float: right;
	}

}

@media only screen and (min-width: 1000px) {
	.top-nav ul {
		text-align: right;
		margin: 0 auto;
		float: right;
	}
	.top-nav ul li {
		display:inline-block;
		margin: 0 auto;
		background-color: purple;
	}
	.logo {
		display:block;
		width: 8%;
		height: 4rem;
		text-align: left;
	}
	img {
		display:block;
		width: 97%;
		margin-left: auto;
		margin-right: auto;
		padding: 0.75rem;
	}
	img.resp-img-3{
		display: inline-block;
		width: 47%;
		height: 50%;
		float: left;
	}
	img.resp-img-4 {
		display: inline-block;
		width: 47%;
		height: 50%;
		float: right;
	}
	img.resp-img-6 {
		display: inline-block;
		width: 47%;
		height: 40%;
		float: left;
	}
	img.resp-img-7, img.resp-img-5{
		display: inline-block;
		width: 47%;
		height: 50%;
		float: right;
	}
	img.resp-img-1{
		display:inline-block;
		clear:both;
		width:22.5%;
		float: left;
	}
	img.resp-img-2{
		display: inline-block;
		width: 22.5%;
		float: left;
	}
}