.jumbotron {
    display: flex;
    align-items: center;
    background: url("../img/roses.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 500px;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #DDEEFF;
    color: black;
    height: 50%;
    margin-bottom: 1rem;
    padding: 20px;
}

.flex-container h3 {
    font-size: 3rem;
    font-family:'Montserrat','Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 2%;
    color: black;
    text-align: center;
}


